repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: just lint --fix
        language: system
        pass_filenames: false
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: just fmt
        language: system
        pass_filenames: false
        types: [python]

      - id: ty
        name: ty
        entry: just typecheck
        language: system
        pass_filenames: false
        types: [python]
{%- if with_web_frontend %}

      - id: deno-fmt
        name: deno fmt
        entry: just fmt
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: deno-lint
        name: deno lint
        entry: just lint --fix
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: deno-check
        name: deno check
        entry: just typecheck
        language: system
        pass_filenames: false
        files: ^frontend/
{%- endif %}
