"""Command line interface."""

# Avoid top level imports in this file for optimal start up times
import click


@click.group()
def cli() -> None:
    """{{ project_summary }}"""


@cli.command()
def hello() -> None:
    """Print a greeting."""
    click.echo("Hello from {{ project_name }}!")
