# Avoid top level imports in this file for optimal start up times
import click


@click.group()
def cli() -> None:
    """{{ project_description }}"""


@cli.command()
def hello() -> None:
    """Example command."""
    click.echo("Hello from {{ project_name }}!")
